<div class="row g-0 gap-5 d-flex">
  <div class="col-lg-3 custom-card">
    <div class="position-relative">
      <img
        src="../assets/images/week8-learning/course-5.png"
        class="custom-card-img-top"
        alt="..."
      />
      <span class="badge badge-danger fw-bold position-absolute top-0 mt-3 ms-3"
        >限時 8 折 🔥</span
      >
    </div>
    <div class="custom-card-body">
      <h6 class="card-title mb-3">小白也會！從零開始學習 Python 程式設計</h6>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-1 align-items-center">
          <img src="../assets/images/week8-learning/avatar-2.png" alt="" />
          <p>Kelly Hsu</p>
        </div>
        <div class="text-end">
          <p class="price-primary">NT$ 2,480</p>
          <p class="price-delete">NT$ 3,200</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div>
        <span class="badge-sm custom-badge">程式開發</span>
        <p>已有 420 位同學加入</p>
      </div>
      <div>
        <span class="material-icons text-star align-bottom"> star </span>
        <span>4.0</span>
        <span>(333)</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 custom-card">
    <div class="position-relative">
      <img
        src="../assets/images/week8-learning/course-6.png"
        class="custom-card-img-top"
        alt="..."
      />
      <span class="badge badge-danger fw-bold position-absolute top-0 mt-3 ms-3"
        >限時 8 折 🔥</span
      >
    </div>
    <div class="custom-card-body">
      <h6 class="card-title mb-3">全面掌握 JavaScript 開發技術</h6>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-1 align-items-center">
          <img src="../assets/images/week8-learning/avatar-2.png" alt="" />
          <p>Kelly Hsu</p>
        </div>
        <div class="text-end">
          <p class="price-primary">NT$ 2,480</p>
          <p class="price-delete">NT$ 3,200</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div>
        <span class="badge-sm custom-badge">程式開發</span>
        <p>已有 420 位同學加入</p>
      </div>
      <div>
        <span class="material-icons text-star align-bottom"> star </span>
        <span>4.0</span>
        <span>(333)</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 custom-card">
    <div class="position-relative">
      <img
        src="../assets/images/week8-learning/course-7.png"
        class="custom-card-img-top"
        alt="..."
      />
      <span class="badge badge-danger fw-bold position-absolute top-0 mt-3 ms-3"
        >限時 8 折 🔥</span
      >
    </div>
    <div class="custom-card-body">
      <h6 class="card-title mb-3">HTML & CSS 網頁設計基礎教程</h6>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-1 align-items-center">
          <img src="../assets/images/week8-learning/avatar-2.png" alt="" />
          <p>Kelly Hsu</p>
        </div>
        <div class="text-end">
          <p class="price-primary">NT$ 2,480</p>
          <p class="price-delete">NT$ 3,200</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div>
        <span class="badge-sm custom-badge">程式開發</span>
        <p>已有 420 位同學加入</p>
      </div>
      <div>
        <span class="material-icons text-star align-bottom"> star </span>
        <span>4.0</span>
        <span>(333)</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 custom-card">
    <div class="position-relative">
      <img
        src="../assets/images/week8-learning/course-8.png"
        class="custom-card-img-top"
        alt="..."
      />
      <span class="badge badge-danger fw-bold position-absolute top-0 mt-3 ms-3"
        >限時 8 折 🔥</span
      >
    </div>
    <div class="custom-card-body">
      <h6 class="card-title mb-3">更進一步！深入學習 Node.js 與後端開發</h6>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-1 align-items-center">
          <img src="../assets/images/week8-learning/avatar-2.png" alt="" />
          <p>Kelly Hsu</p>
        </div>
        <div class="text-end">
          <p class="price-primary">NT$ 2,480</p>
          <p class="price-delete">NT$ 3,200</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div>
        <span class="badge-sm custom-badge">程式開發</span>
        <p>已有 420 位同學加入</p>
      </div>
      <div>
        <span class="material-icons text-star align-bottom"> star </span>
        <span>4.0</span>
        <span>(333)</span>
      </div>
    </div>
  </div>
</div>
